<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <div class="columns clearfix" ng-init="setForm(detailForm)">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.phone' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.PhoneNumber" required
                                       type="tel" ui-mask="+7 (999) 999-9999"
                                       ui-mask-placeholder ui-mask-placeholder-char="_"/>

                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.email' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Email" required ng-maxlength="64" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(ru|aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                                       type="email" placeholder="{{ 'clients.blades.member-detail.placeholders.email' | translate }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.name' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.FirstName" focus-on="" required ng-maxlength="64" placeholder="{{ 'clients.blades.member-detail.placeholders.name' | translate }}" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.lastName' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.LastName" focus-on="" required ng-maxlength="64" placeholder="{{ 'clients.blades.member-detail.placeholders.lastName' | translate }}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.middleName' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.SecondName" focus-on=""   ng-maxlength="64" placeholder="{{ 'clients.blades.member-detail.placeholders.middleName' | translate }}" />
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="columns clearfix">
                        <div class="column">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.country' | translate }}</label>
                        </div>
                        <div class="column">
                            <div class="form-input">
                                {{ 'clients.blades.member-detail.labels.countryName' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">

                    <label class="form-label">{{ 'clients.blades.member-detail.labels.subject' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.Passport.Address.Subject" required theme="select2" on-select="choseSubject($item)">
                            <ui-select-match>
                                <span>{{$select.selected.name | translate}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in subjects">
                                <span>{{item.name | translate}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="blade.currentEntity.Passport.Address.Region || regions">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.region' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.Passport.Address.Region"  theme="select2" >
                            <!--on-select="choseRegion($item)"-->
                            <ui-select-match>
                                <span>{{$select.selected.name | translate}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in regions">
                                <span>{{item.name | translate}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group" ng-if="blade.currentEntity.Passport.Address.CityType || typeofPoints">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.typeofPoint' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.Passport.Address.CityType" theme="select2" on-select="choseSearchTypes($item)">
                                    <ui-select-match>
                                        <span>{{$select.selected.name | translate}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in typeofPoints">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group" ng-if="blade.currentEntity.Passport.Address.CityName || pointsName">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.pointName' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.Passport.Address.CityName" required   theme="select2" on-select="choseSearchTypes($item)">
                                    <ui-select-match>
                                        <span>{{$select.selected.name | translate}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in pointsName">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group " ng-if="blade.currentEntity.Passport.Address.CityName">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.street' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.Passport.Address.StreetName" ng-maxlength="50" />
                    </div>
                </div>
                <div class="columns clearfix" ng-if="blade.currentEntity.Passport.Address.CityName">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.home' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.Address.Building" ng-maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.flat' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.Address.Flat" ng-maxlength="20" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.postcode' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.Address.PostCode" required type="tel" ui-mask="999999" ui-mask-placeholder ui-mask-placeholder-char="_" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.passport_series' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.Seria" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.passport_number' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.Number" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.name_organization' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.Passport.Emitent" required ng-maxlength="128" />
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.date_produce' | translate }}</label>
                            <div class="form-input __calendar">
                                <input type="text" class="form-control"  required ng-model="blade.currentEntity.Passport.IssueDate" datepicker-popup="{{format}}" name="bd" is-open="datepickers.bd" max-date="today" datepicker-options="dateOptions" datepicker-popup close-text="Close" placeholder="{{ 'clients.blades.member-detail.placeholders.date-produce' | translate }}" />
                                <button class="btn" type="button" ng-click="open($event,'bd')">
                                    <i class="btn-ico fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.code_organization' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Passport.EmitentCode" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.address_residence' | translate }}</label>
                    <div class="form-control __checkbox">
                        <label class="form-label">
                            <input type="checkbox" ng-model="PostAddressCheck">
                            <span class="check"></span>
                            <span class="name">{{ 'clients.blades.member-detail.labels.address_residence_thesame' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div ng-if="!PostAddressCheck">
                    <div class="form-group clearfix">
                        <div class="columns clearfix">
                            <div class="column">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.country' | translate }}</label>
                            </div>
                            <div class="column">
                                <div class="form-input" >
                                    {{ 'clients.blades.member-detail.labels.countryName' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="form-label">{{ 'clients.blades.member-detail.labels.subject' | translate }}</label>
                        <div class="form-input">
                            <ui-select ng-model="blade.currentEntity.PostAddress.Subject" theme="select2" on-select="choseSubject($item)">
                                <ui-select-match>
                                    <span>{{$select.selected.name | translate}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in subjects">
                                    <span>{{item.name | translate}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="blade.currentEntity.PostAddress.Region || regions">
                        <label class="form-label">{{ 'clients.blades.member-detail.labels.region' | translate }}</label>
                        <div class="form-input">
                            <ui-select ng-model="blade.currentEntity.PostAddress.Region" theme="select2" on-select="choseRegion($item)">
                                <ui-select-match>
                                    <span>{{$select.selected.name | translate}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in regions">
                                    <span>{{item.name | translate}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!--<div class="columns clearfix">-->
                        <!--<div class="column">-->
                            <!--<div class="form-group" ng-if="blade.currentEntity.PostAddress.CityType || typeofPoints">-->
                                <!--<label class="form-label">{{ 'clients.blades.member-detail.labels.typeofPoint' | translate }}</label>-->
                                <!--<div class="form-input">-->
                                    <!--<ui-select ng-model="blade.currentEntity.PostAddress.CityType" theme="select2" on-select="choseSearchTypes($item)">-->
                                        <!--<ui-select-match>-->
                                            <!--<span>{{$select.selected.name | translate}}</span>-->
                                        <!--</ui-select-match>-->
                                        <!--<ui-select-choices repeat="item in typeofPoints">-->
                                            <!--<span>{{item.name | translate}}</span>-->
                                        <!--</ui-select-choices>-->
                                    <!--</ui-select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="column">-->
                            <div class="form-group" ng-if="blade.currentEntity.PostAddress.CityName || pointsName">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.pointName' | translate }}</label>
                                <div class="form-input">
                                    <ui-select ng-model="blade.currentEntity.PostAddress.CityName" theme="select2" on-select="choseSearchTypes($item)">
                                        <ui-select-match>
                                            <span>{{$select.selected.name | translate}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in pointsName">
                                            <span>{{item.name | translate}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group " ng-if="blade.currentEntity.PostAddress.CityName">
                        <label class="form-label">{{ 'clients.blades.member-detail.labels.street' | translate }}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.PostAddress.StreetName" ng-maxlength="50" />
                        </div>
                    </div>
                    <div class="columns clearfix" ng-if="blade.currentEntity.PostAddress.CityName">
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.home' | translate }}</label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.PostAddress.Building" ng-maxlength="50" />
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.flat' | translate }}</label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.PostAddress.Flat" ng-maxlength="20" />
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.postcode' | translate }}</label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.PostAddress.PostCode" required type="tel" ui-mask="999999" ui-mask-placeholder ui-mask-placeholder-char="_" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group ">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.code_word' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.SecretWord" required  ng-maxlength="64" />
                    </div>
                </div>

                <div class="form-group ">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.comment' | translate }}</label>
                    <div class="form-input">
                        <textarea ng-model="blade.currentEntity.Comment" class="form-control" ></textarea>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>