<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items">
                <!--<li class="list-item" ng-mouseup="addOrganization()">-->
                    <!--<i class="list-ico fa fa-university"></i>-->
                    <!--<span class="list-t">{{ 'clients.blades.member-add.menu.organization.title' | translate }}</span>-->
                    <!--<span class="list-descr">{{ 'clients.blades.member-add.menu.organization.description' | translate }}</span>-->
                <!--</li>-->
                <li class="list-item" ng-mouseup="addCustomer()">
                    <i class="list-ico fa fa-user"></i>
                    <span class="list-t">{{ 'clients.blades.member-add.menu.clients.title' | translate }}</span>
                    <span class="list-descr">{{ 'clients.blades.member-add.menu.clients.description' | translate }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>